<%= form_with model: @slogan_submission do |form| %>
    <div>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
    </div>
    <% @slogan_submission.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
    <div>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </div>
    <% @slogan_submission.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
    <div>
      <%= form.label :email_address %><br>
      <%= form.text_field :email_address %>
    </div>
    <% @slogan_submission.errors.full_messages_for(:email_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <div>
      <%= form.label :slogan_idea %><br>
      <%= form.text_area :slogan_idea %>
    </div>
    <% @slogan_submission.errors.full_messages_for(:slogan_idea).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>