<h1>Slogan Submissions#index</h1>
<ul>
  <% @slogan_submissions.each do |slogan_submission| %>
    <li>
      <%= slogan_submission.first_name %>
      <%= slogan_submission.last_name %>
      <%= slogan_submission.email_address %>
      <%= slogan_submission.slogan_idea %>

    </li>
  <% end %>
</ul>

<%= link_to "New Slogan Submission", new_slogan_submission_path %>
